<% content_for :title do %>
Attendees vs Game - LoB Game Match - <%= @game.name %>
<% end %>

<h1>Attendees vs Game<h1>
<h2>Event: <%= link_to @event.name, @event %></h2>
<h2>Game: <%= link_to @game.name, @game %></h2>

<h3>Attendees wanting to play this game (according to bgg)</h3>
<table>
  <% @keen_players_attending.each do |p| %>
    <tr>
      <td><%= link_to p.meetup_username, p %> - <%= p.rating_for(@game.id) %></td>
      <td></td>
    </tr>
  <% end %>
</table>


<h3>TODO</h3>
<pre>
  Who owns it who is attending?
  Who rates it highly who is attending?
    - important even if they haven't marked it want-to-play
  Who wants to play it who has attended recently and therefore 
    might be invited again.
  
</pre>