<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= link_to @event.name, @event.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @event.event_time %>
</p>

  <ul>
  <% @event.players.each do |player| %>
    <li>
      <%= link_to player.bgg_username, player.bgg_user_url %> - 
      <%= link_to player.meetup_username, player.meetup_user_url %>
      <%= link_to 'Show', player %>
    </li>
  <% end %>
  </ul>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
