<% content_for :title do %>
Showing Event - LoB Game Match - <%= @event.name %>
<% end %>

<!-- EVENT SHOW -->
<p>
  <strong>Event:</strong>
  <%= link_to @event.name, @event.url %>

  (<%= @event.event_time %>)
</p>

<!--  data-multi-expand="true" -->
<ul class="accordion" data-accordion>
  
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Desired Games</a>
    <div class="accordion-content" data-tab-content>

      <h3>Games which attendees want to play (in bgg)</h3>
      <ul>
      <% @desired_games.each do |g| %>
        <li><%= link_to g.name, g %> - <%= g.pw_count %> wishes.</li>
      <% end %>
      </ul>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Owned Desired Games</a>
    <div class="accordion-content" data-tab-content>
  
      <h3>Games which attendees want to play, which someone attending owns</h3>
      <ul>
        <% @desired_owned_games.each do |g| %>
          <li><%= link_to g.name, g %> - <%= g.pw_count %> wishes.</li>
        <% end %>
      </ul>
    </div>
  </li>

  <% if @chosen_player %>
  
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">User-Owned Desired Games</a>
    <div class="accordion-content" data-tab-content>
      <h3>Games which attendees want to play, which <%= @chosen_player.meetup_username %> owns</h3>
      
      <ul>
        <% @chosen_player_owned_desired_games.each do |g| %>
          <li><%= link_to g.name, g %>
            <ul>
              <% g.keen_players.each do |kp| %>
                <%= link_to kp.meetup_username, kp %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </li>
  <% end %>

  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Attending</a>
    <div class="accordion-content" data-tab-content>
  
      <h3>Attending Players:</h3>
    
      <ul>
        <% @attending_players.each do |player| %>
          <li>
            <% if ! player.bgg_username.nil? %>
              <%= link_to player.meetup_username, player, class: "bgg-linked-player" %>
              (bgg: <%= link_to player.bgg_username, player.bgg_user_url %>)
            <% else %>
              <%= link_to player.meetup_username, player %>
            <% end %>
            / <%= link_to "meetup", player.meetup_user_url %>
            
            -<%= link_to "search on bgg", player.search_on_bgg_url %>
          </li>
        <% end %>
      </ul>
    </div>
  </li>

</ul> <!-- end accordion -->

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
