<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= link_to @event.name, @event.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<h3>Games attendees want to play (in bgg)</h3>
<ul>
<% @desired_game_counts.each do |gid, pw_count| %>
  <li><%= Game.find(gid).name %> - <%= pw_count %> wishes.</li>
<% end %>
</ul>

<h3>Games attendees want to play, which someone owns (in bgg)</h3>
<ul>
<% @owned_and_desired_game_counts.each do |gid, pw_count| %>
  <li><%= @owned_and_desired_games_by_id[gid].name %> - <%= pw_count %> wishes.</li>
<% end %>
</ul>

<p>
  <strong>Event time:</strong>
  <%= @event.event_time %>
</p>
  <h3>Attending Players:</h3>

  <ul>
  <% @attending_players.each do |player| %>
    <li>
      <% if ! player.bgg_username.nil? %>
        <%= link_to player.meetup_username, player, class: "bgg-linked-player" %>
        (bgg: <%= link_to player.bgg_username, player.bgg_user_url %>)
      <% else %>
        <%= link_to player.meetup_username, player %>
      <% end %>
      / <%= link_to "meetup", player.meetup_user_url %>
      
      -<%= link_to "search on bgg", player.search_on_bgg_url %>

    </li>
  <% end %>
  </ul>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
