<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
  <%= link_to "(on bgg)", @game.bgg_game_url %> 
  <%= link_to "(geekbuddy analyse)", @game.bgg_game_analysis_url %> 

</p>

<p>
  <strong>Game:</strong>
  <%= @game.game_id %>
</p>


<p>
  <strong>Num wanting to play:</strong>
  <%= @game.keen_players.size %>
  <ul>
  <% @game.keen_players.each do |player| %>
    <li>
      <%= link_to player.meetup_username, player %> 
      <%= link_to "(bgg)", player.bgg_user_url %>
      <%= link_to "(Meetup)", player.meetup_user_url %>
    </li>
  <% end %>
  </ul>

</p>

<p>
  <strong>Num owning:</strong>
  <%= @game.owning_players.size %>
<ul> 
  <% @game.owning_players.each do |player| %>
    <li>
      <%= link_to player.meetup_username, player %> 
      <%= link_to "(bgg)", player.bgg_user_url %>
      <%= link_to "(Meetup)", player.meetup_user_url %>
    <ul>
      <% player.events.each do |event| %>
        <li><%= event.name %></li>
      <% end %>
    </ul>
    </li>
<% end %>
</ul>

</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
