<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game.game_id %>
</p>

<p>
  <strong>Num wanting to play:</strong>
  <%= @game.keen_players.size %>
  <ul>
  <% @game.keen_players.each do |player| %>
    <li>
      <a href='https://boardgamegeek.com/user/<%= player.bgg_username %>'><%= player.bgg_username %></a> / 
      <a href='https://www.meetup.com/LondonOnBoard/members/<%= player.meetup_user_id %>'><%= player.meetup_user_id %></a>
      <%= link_to 'Show', player %>
    </li>
  <% end %>
  </ul>

</p>

<p>
  <strong>Num owning:</strong>
  <%= @game.owning_players.size %>
  
  <% @game.owning_players.each do |player| %>
  <li>
    <a href='https://boardgamegeek.com/user/<%= player.bgg_username %>'><%= player.bgg_username %></a> / 
    <a href='https://www.meetup.com/LondonOnBoard/members/<%= player.meetup_user_id %>'><%= player.meetup_user_id %></a>
    <%= link_to 'Show', player %>
  </li>
<% end %>

</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
