<% content_for :title do %>
Showing game - LoB Game Match - <%= @game.name.truncate(20) %>
<% end %>

<!-- GAME SHOW -->
<p>
  <h2>Game: <%= @game.name %></h2>
  <%= link_to "(on bgg)", @game.bgg_game_url %> 
  <%= link_to "(geekbuddy analyse)", @game.bgg_game_analysis_url %> 
  <%= link_to '(lob guild analyse)', @game.bgg_lob_guild_search_url %>
</p>

<p>
  <h3>Wanting to play (<%= @game.keen_players.size %>)</h3>
  <ul>
  <% @game.keen_players.each do |player| %>
    <li>
      <%= link_to player.meetup_username, player %> 
      <%= link_to "(bgg)", player.bgg_user_url %>
      <%= link_to "(Meetup)", player.meetup_user_url %>
    </li>
  <% end %>
  </ul>
</p>

<p>
  <h3 id='high-ratings'>High ratings:</h3>
  <table>
  <% @rating_players.each do |player| %>
    <tr>
      <td><%= link_to player.meetup_username, player %>
      <%= link_to "(bgg)", player.bgg_user_url %>
      <%= link_to "(Meetup)", player.meetup_user_url %></td>
      <td>Rating: <%= player.rating %></td>
    </td></tr>
  <% end %>
  </table>
</p>

<p>
  <h3>Owners (<%= @game.owning_players.size %>)</h3>
  <ul> 
    <% @game.owning_players.each do |player| %>
      <li>
        <%= link_to player.meetup_username, player %> 
        <%= link_to "(bgg)", player.bgg_user_url %>
        <%= link_to "(Meetup)", player.meetup_user_url %>
        <ul>
          <% player.events.each do |event| %>
            <li><%= link_to event.name, event, title: 'Explore the event here' %> (<%= link_to "Meetup", event.url, alt: 'View the event on meetup.com' %>)</li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Back', games_path %>
