<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game.game_id %>
</p>

<p>
  <strong>Num wanting to play:</strong>
  <%= @game.keen_players.size %>
  <ul>
  <% @game.keen_players.each do |player| %>
    <li>
      <%= link_to player.bgg_username, player.bgg_user_url %> - 
      <%= link_to player.meetup_username, player.meetup_user_url %>
      <%= link_to 'Show', player %>
    </li>
  <% end %>
  </ul>

</p>

<p>
  <strong>Num owning:</strong>
  <%= @game.owning_players.size %>
  
  <% @game.owning_players.each do |player| %>
  <li>
    <%= link_to player.bgg_username, player.bgg_user_url %> - 
    <%= link_to player.meetup_username, player.meetup_user_url %>
    <%= link_to 'Show', player %>
  </li>
<% end %>

</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
