<p>
  <strong>Player id:</strong>
  <%= @rsvp.player_id %>
</p>

<p>
  <strong>event id:</strong>
  <%= @rsvp.event_id %>
</p>

<p>
  <strong>Response:</strong>
  <%= @rsvp.response %>
</p>

<%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
<%= link_to 'Back', rsvps_path %>
