<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<table>
  <thead>
    <tr>
      <th>Bgg username</th>
      <th>Bgg user</th>
      <th>Meetup username</th>
      <th>LoB Meetup user</th>
      <th>Meetup status</th>
      <th>Meetup link</th>
      <th>Meetup joined</th>
      <th>last colln req time</th>
      <th>Meetup bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><a href='https://boardgamegeek.com/user/<%= player.bgg_username %>'><%= player.bgg_username %></a></td>
        <td><%= player.bgg_user_id %></td>
        <td><%= player.meetup_username %></td>
        <td><a href='https://www.meetup.com/LondonOnBoard/members/<%= player.meetup_user_id %>'><%= player.meetup_user_id %></a></td>
        <td><%= player.meetup_status %></td>
        <td><a href='<%= player.meetup_link %>'><%= player.meetup_link %></a></td>
        <td><%= player.meetup_joined %></td>
        <td><%= player.meetup_bio %></td>
        <td><%= player.last_collection_request_time %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
