<% content_for :title do %>
Listing Players - LoB Game Match
<% end %>

<!-- PLAYER INDEX -->

<script>
$( document ).ready(function() {
  $("#show-pending-collection-imports").bind('click', function() {
      $('.player-row').hide();
      $('.with-pending-collection').show();
  });
  $("#show-with-imported-ratings").bind('click', function() {
      $('.player-row').hide();
      $('.with-imported-ratings').show();
  });
  $("#show-without-imported-ratings").bind('click', function() {
      $('.player-row').show();
      $('.with-imported-ratings').hide();
  });
  $("#show-all-players").bind('click', function() {
      $('.player-row').show();
  });
});

</script>
<h1>Listing Players</h1>
<div class='button-group'>
  <a href='#' class='button' id='show-all-players'>All</a>
  <a href='#' class='button' id='show-pending-collection-imports'>Pending</a>
  <a href='#' class='button' id='show-with-imported-ratings'>Ratings imported</a>
  <a href='#' class='button' id='show-without-imported-ratings'>Ratings unimported</a>
</div>


<div class="table-scroll">
<table class='hover'>
  <thead>
    <tr>
      <th>Name(s)</th>
      <th>Edit</th>
      <th>Meetup status</th>
      <th>num want-to-play</th>
      <th>num owned</th>
      <th>num rated</th>
      <th>num meetups upcoming</th>
      <th>bgg disparities</th>
      <th>Granted</th>
      <th>Collection Processed At</th>
      <th>Ratings Imported At</th>
      <th>Collection Requested at</th>
      <th>Meetup bio</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr class='player-row
      <%= player.collection_processed_at.nil? ? 'with-pending-collection' : '' %>
      <%= player.ratings_imported_at.nil? ? '': 'with-imported-ratings' %>
      '>
        <td><%= link_to player.meetup_username, player %> 
           (<%= link_to "bgg:#{player.bgg_username}", player.bgg_user_url %>)
            <%= link_to " / Meetup", player.meetup_user_url %>
        </td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= player.meetup_status %></td>
        <td><%= player.want_to_play_games.size %></td>
        <td><%= player.owned_games.size %></td>
        <td><%= player.rated_games.size %></td>
        <td><%= player.events.size %></td>
        <td><%= link_to 'bgg disparities', player.bgg_disparities_url %></td>
        <td><%= player.granted %></td>
        <td class='<%= player.collection_processed_at.nil? ? 'unprocessed' : 'processed' %>'>
          <%= time_ago_in_words(player.collection_processed_at) + " ago" unless player.collection_processed_at.nil? %></td>
        <td><%= time_ago_in_words(player.ratings_imported_at) + " ago" unless player.ratings_imported_at.nil? %></td>
        <td><%= time_ago_in_words(player.collection_requested_at) + " ago" unless player.collection_requested_at.nil? %></td>
        <td><%= player.meetup_bio %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New Player', new_player_path %>
