<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<table border='1'>
  <thead>
    <tr>
      <th>Name(s)</th>
      <th>Edit</th>
      <th>Meetup status</th>
      <th>num want-to-play</th>
      <th>num meetups upcoming</th>
      <th>Granted</th>
      <th>Collection Processed At</th>
      <th>Collection Requested at</th>
      <th>Meetup bio</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.meetup_username, player %> 
           (<%= link_to "bgg:#{player.bgg_username}", player.bgg_user_url %>)
            <%= link_to " / Meetup", player.meetup_user_url %>
        </td>
        
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= player.meetup_status %></td>
        <td><%= player.want_to_play_games.size %></td>
        <td><%= player.events.size %></td>
        <td><%= player.granted %></td>
        <td><%= player.collection_processed_at %></td>
        <td><%= player.last_collection_request_time %></td>
        <td><%= player.meetup_bio %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Player', new_player_path %>
