<p id="notice"><%= notice %></p>


<p>
  <a href='#basic-info'>basic info</a> | 
  <a href='#want-to-play-games'>want-to-play</a> | 
  <a href='#owned-games'>owned games</a> | 
  <a href='#favourite-games'>favourite games</a>
</p>

<p>
  <%= link_to 'Edit', edit_player_path(@player) %> |
  <%= link_to 'mark collection stale', mark_stale_path(:id => @player.id ) %> | 
</p>

<p id='basic-info'>
  <strong>Bgg username:</strong>
  <%= link_to @player.bgg_username, @player.bgg_user_url %>
</p>

<p>
  <strong>Meetup username:</strong>
  <%= link_to @player.meetup_username, @player.meetup_user_url %>
</p>

<p>Collection processed at <%= @player.collection_processed_at %></p>



<p>
  <strong>Next meetups</strong>
  <ol>
    
    <% @player.events.each do |event| %>
    <li><%= link_to event.name, event %></li>
    <% end %>
    
  </ol>
  
</p>

<p>
  <strong id='want-to-play-games'><%= @player.meetup_username %> wants to play:</strong>
  <%= @player.want_to_play_games.size %> game(s):

  <ul>
  <% @player.want_to_play_games.each do |game| %>
    <li><%= link_to game.name, game %>
      <%= link_to "(bgg)", game.bgg_game_url %>
    </li>
  <% end %>
  </ul>

</p>

<p>

<h3>Games others most want to play, which are owned by <%= @player.meetup_username %></h3>
  <ul>
  <% @most_desired_games.each do |game| %>
    <li>
      <%= link_to game.name, game %>
      <%= link_to "(bgg)", game.bgg_game_url %>
      - Num wishing to play: <%= @playwish_counts[game.id] %>
    </li>
  <% end %>
  </ul>

  <strong id='owned-games'>Total number of games owned:</strong>
  <%= @player.owned_games.size %>

<h3>All games owned by <%= @player.meetup_username %></h3>
  <ul>
  <% @owned_games.each do |game| %>
    <li>
      <%= link_to game.name, game %>
      <%= link_to "(bgg)", game.bgg_game_url %>
      - Num wishing to play: <%= @playwish_counts[game.id] %>
    </li>
  <% end %>
  </ul>
  
<h3 id='favourite-games'><%= @player.meetup_username %>'s Top 20 games</h3>
  <ul>
  <% @top_20_games.each do |game| %>
    <li>
      <%= link_to game.name, game %>
      <%= link_to "(bgg)", game.bgg_game_url %>
      Rating: <%= game.rating %>
    </li>
  <% end %>
  </ul>
  

</p>





<p>
  <strong>Meetup bio:</strong>
  <%= @player.meetup_bio %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'mark collection stale', mark_stale_path(:id => @player.id ) %> | 
<%= link_to 'Back', players_path %>
