<p id="notice"><%= notice %></p>

<p>
  <strong>Bgg username:</strong>
  <%= @player.bgg_username %>
</p>

<p>
  <strong>Bgg user:</strong>
  <%= @player.bgg_user_id %>
</p>

<p>
  <strong>Meetup username:</strong>
  <%= @player.meetup_username %>
</p>

<p>
  <strong>Meetup user id:</strong>
  <%= @player.meetup_user_id %>
</p>

<p>
  <strong>Num games owned:</strong>
  <%= @player.owned_games.size %>

  <ul>
  <% @player.owned_games.each do |game| %>
    <li><a href="https://boardgamegeek.com/boardgame/<%= game.game_id %>"><%= game.name %> (<%= game.game_id %>)</a> - <%= link_to 'Show', game %></li>
  <% end %>
  </ul>
  
</p>


<p>
  <strong>Wants to play:</strong>
  <%= @player.want_to_play_games.size %>

  <ul>
  <% @player.want_to_play_games.each do |game| %>
    <li><a href="https://boardgamegeek.com/boardgame/<%= game.game_id %>"><%= game.name %> (<%= game.game_id %>)</a> - <%= link_to 'Show', game %></li>
  <% end %>
  </ul>

</p>


<p>
  <strong>Meetup bio:</strong>
  <%= @player.meetup_bio %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
