<p id="notice"><%= notice %></p>

<p>
  <strong>Bgg username:</strong>
  <%= @player.bgg_username %>
</p>

<p>
  <strong>Bgg user:</strong>
  <%= @player.bgg_user_id %>
</p>

<p>
  <strong>Meetup username:</strong>
  <%= @player.meetup_username %>
</p>

<p>
  <strong>Meetup user:</strong>
  <%= @player.meetup_user_id %>
</p>

<p>
  <strong>Meetup bio:</strong>
  <%= @player.meetup_bio %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
