<% content_for :title do %>
Showing player - LoB Game Match - <%= @player.meetup_username %>
<% end %>
<!-- PLAYER SHOW -->

<ul class="horizontal menu" data-magellan>
  <li><a href='#basic-info'>basic info</a></li>
  <li><a href='#next-meetups'>next-meetups</a></li>
  <li><a href='#want-to-play-games'>want-to-play</a></li>
  <li><a href='#favourite-games'>favourite games</a></li>
  <li><a href='#desired-owned-games'>desired owned games</a></li>
  <li><a href='#owned-games'>owned games</a></li>
</ul>

<p id='basic-info' data-magellan-target="basic-info">
  <strong>Bgg username:</strong>
  <%= link_to @player.bgg_username, @player.bgg_user_url %>
</p>

<p>
  <strong>Meetup username:</strong>
  <%= link_to @player.meetup_username, @player.meetup_user_url %>
</p>

<p>
  <strong>Meetup bio:</strong>
  <%= @player.meetup_bio %>
</p>

<p><strong>BGG links: </strong>
  <%= link_to 'want-to-play', @player.bgg_want_to_plays_url %>,
  <%= link_to 'owned', @player.bgg_owned_games_url %>,
  <%= link_to 'ratings', @player.bgg_ratings_url %>
</p>

<p><strong>Collection processed at: </strong><%= @player.collection_processed_at %></p>

<!--  data-multi-expand="true" -->
<ul class="accordion" data-accordion>
  
<li id='next-meetups' class="accordion-item is-active" data-accordion-item data-magellan-target='next-meetups'>
  <a href="#" class="accordion-title">Next Meetups</a>
  <div class="accordion-content" data-tab-content>
    <h3>Next meetups</h3>
    <ol>
      <% @player.events.each do |event| %>
        <li><%= link_to event.name, event %></li>
      <% end %>
    </ol>
  </div><!-- accordion content -->
</li> <!-- accordion item -->

<li id='want-to-play-games' class="accordion-item is-active" data-accordion-item data-magellan-target='want-to-play-games'>
  <a href="#" class="accordion-title"><%= @player.meetup_username %> wants to play:</a>
  <div class="accordion-content" data-tab-content>
    <h3><%= @player.meetup_username %> wants to play:</h3>
    <%= @player.want_to_play_games.size %> game(s):
    
    <ul>
      <% @player.want_to_play_games.each do |game| %>
        <li><%= link_to game.name, game %>
          <%= link_to "(bgg)", game.bgg_game_url %>
        </li>
      <% end %>
    </ul>
  </div><!-- accordion content -->
</li> <!-- accordion item -->

<li id='favourite-games' class="accordion-item is-active" data-accordion-item data-magellan-target='favourite-games'>
  <a href="#" class="accordion-title"><%= @player.meetup_username %>'s Top 20</a>
  <div class="accordion-content" data-tab-content>

    <h3><%= @player.meetup_username %>'s Top 20 games</h3>
    <table>
      <tbody>
        
      <% @top_20_games.each do |game| %>
        <tr>
          <td><%= link_to game.name, game %>
          <%= link_to "(bgg)", game.bgg_game_url %></td>
          <td>Rating: <%= game.rating %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div><!-- accordion content -->
</li> <!-- accordion item -->

<li id='desired-owned-games' class="accordion-item is-active" data-accordion-item data-magellan-target='desired-owned-games'>
  <a href="#" class="accordion-title"><%= @player.meetup_username %>'s games which others most want to play</a>
  <div class="accordion-content" data-tab-content>
    <h3>Games others most want to play, which are owned by <%= @player.meetup_username %></h3>
    <ul>
      <% @most_desired_games.each do |game| %>
        <li>
          <%= @playwish_counts[game.id] %> wish to play
          <%= link_to game.name, game %>
          <%= link_to "(bgg)", game.bgg_game_url %>
           (<%# game.rating %>/10)
        </li>
      <% end %>
    </ul>
  </div><!-- accordion content -->
</li> <!-- accordion item -->

<li id='owned-games' class="accordion-item is-active" data-accordion-item data-magellan-target='owned-games'>
  <a href="#" class="accordion-title">Owned Games</a>
  <div class="accordion-content" data-tab-content>
    <h3>All games owned by <%= @player.meetup_username %></h3>
    <strong>Total number of games owned:</strong> <%= @player.owned_games.size %>

    <table>
      <tbody>

      <% @owned_games.each do |game| %>
      <tr>
        <td><%= link_to game.name, game %>
          <%= link_to "(bgg)", game.bgg_game_url %></td>
          <td>
            <% if @playwish_counts[game.id] %>
              Num wishing to play: <%= @playwish_counts[game.id] %>
            <% end %>
          </td>
        </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- accordion content -->
</li> <!-- accordion item -->

<li class="accordion-item is-active" data-accordion-item>
  <a href="#" class="accordion-title">Uniquely Owned Games</a>
  <div class="accordion-content" data-tab-content>
    <h3>Games owned ONLY by <%= @player.meetup_username %></h3>
    <ul>
      <% @uniquely_owned_games.each do |game| %>
        <li>
          <%= link_to game.name, game %>
          <%= link_to "(bgg)", game.bgg_game_url %>
          <% if @playwish_counts[game.id] %>
            - Num wishing to play: <%= @playwish_counts[game.id] %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div><!-- accordion content -->
</li> <!-- accordion item -->
</ul> <!-- end accordion -->


<div>
  <%= link_to 'Edit', edit_player_path(@player), class: 'button small' %>
  <%= link_to 'Focus this Player', choose_player_path(@player), class: 'button small' %>
  <%= link_to 'Mark collection stale', mark_stale_path(:id => @player.id ), class: 'button warning small' %>
</div>

