<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top-bar">
  <div class="top-bar-left">

    <ul class="vertical medium-horizontal menu" data-dropdown-menu>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Players", players_path %></li>
      <li><%= link_to "Games", games_path %>
        <ul class="vertical menu">
          <li><%= link_to "Desired games", desired_games_path %></li>
          <li><%= link_to "Rarer desired games", rare_games_path %></li>
          <li><%= link_to "Uniquely owned games", uniquely_owned_games_path %></li>
        </ul>
      </li>
      <% if @chosen_player.nil? %>
        <li>no-one</li>
      <% else %>
        <li><%= link_to @chosen_player.meetup_username, @chosen_player %></li>
        <li><%= link_to '(logout)', choose_no_player_path %></li>
      <% end %>
    
      

    </ul>
  </div>


  <div class="top-bar-right">
    <form action='/games' method='get'>
      <ul class="menu">
        <li><input type='search' name='term' size=50 id='game_name_search' placeholder='game title to search for'/></li>
      </ul>
    </form>
    <form action='/players' method='get'>
      <ul class="menu">
        <li><input type='search' name='term' size=50 id='player_name_search' placeholder='player to search for'/></li>
      </ul>
    </form>
  </div>
</div>

<% if ! notice.nil? %>
<div class="callout">
  <h5>Notice: </h5>
  <p><%= notice %></p>
</div>
<% end %>

<%= yield %>

<%= javascript_include_tag "application" %>     

</body>
</html>
