<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <ul>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Players", players_path %></li>
    </li>
  </ul>
  
  <form action='/games' method='get'>
    <input id='submit' type='submit' value='search' />
    <input type='textfield' name='term' size=50 id='game_name_search' placeholder='game title to search for'/>
  </form>
  
</div>
<%= yield %>

</body>
</html>
